.record-detail {
    margin: 2rem;
}

.detail-item-title {
    width: 15%;
    color: rgb(131, 131, 131);
    font-size: 90%;
}

.category {
    font-size: 120%;
}

#record-detail-icons i {
    font-size: 150%;
    align-self: center;
    opacity: 0.6;
}

#record-detail-icons i:hover {
    cursor: pointer;
    color: rgb(18, 111, 165);
}
