
.main {
    height: 100%;
    background-color: rgb(243, 243, 243);
}

.column {
    width: 30rem;
    height: 85%;
    margin: 3rem 0;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
}

.left-col {
    margin-right: 2rem;
}

.right-col {
    margin-left: 2rem;
}

.chart-container {
    width: 64rem;
    height: 85%;
    margin: 3rem 0;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
}

